/* Error: expected "{".
 *     ,
 * 718 |         width: 85%; /* conserver une taille fixe pour le texte *∕
 *     |                   ^
 *     '
 *   sass\base\_codebaseorigin.scss 718:19  @import
 *   sass\main.scss 2:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 718 \2502          width: 85%; /* conserver une taille fixe pour le texte */\d\a     \2502                    ^\a     \2575 \a   sass\\base\\_codebaseorigin.scss 718:19  @import\a   sass\\main.scss 2:9                     root stylesheet';
}
